
body {
    width: auto;
    margin: 0;
    background-color:azure;
}

:root {
    --font: 'Montserrat', sans-serif;;
}

.top {
    display: flex;
    background: rgb(255,227,250);
    background: linear-gradient(0deg, rgb(253, 244, 244) 4%, rgb(255, 255, 255) 1%, rgb(255, 255, 255) 100%);
    height: 30px;
    align-items: center;
    justify-content: flex-end;
}

.top a {
    margin-left: 20px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font);
    font-weight: 0;
    font-size: 12px;
    text-decoration: none;
    transition: color .3s linear;
    letter-spacing: 2px;

}

.top a:hover {
    color: #c7c8c3;
}


#pin {
    width: .8em;
    margin-left: 20px;
}

nav {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 5em;
}

nav li {
    display: inline;
    margin-right: 5em;
    text-align: center;
    

}

nav a {
    text-decoration: none;
    color: black;
    font-family: var(--font);
    font-weight: 600;
    font-size: 17px;
    margin: 10px;
}



main {
    background: rgb(255,227,250);
    background: linear-gradient(0deg, rgba(255,227,250,1) 0%, rgba(213,213,213,1) 48%, rgba(249,249,249,1) 100%);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
}

.text {
    text-align: center;
    border: 2px solid rgb(231, 226, 226);
    border-radius: 1%;
    box-shadow: #c7c8c3;
    height: max-content;
    width: 40em;
    font-family: 'Noto Sans Mro', sans-serif;
    font-weight: 800;
}

main img {
    margin: 50px 0px 50px 0px;
    height: 450px;
    width: 500px;
    border-radius: 1%;
}

.doctor {
    margin: 10em 0em 10em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.doc_text {
    height: max-content;
    text-align: center;
    

}

.doc_text h2 {
    font-family: var(--font);
}

.doc_text p {
    margin: 0;
    height: max-content;
    font-family: 'Noto Sans Mro', sans-serif;
    font-weight: 600;
    width: 30em;
}

.doctor img {
    height: 500px;
    border-radius: .5%;
    box-shadow: 10px 10px 30px rgb(74, 74, 74);
}

.cards {
    margin: 20em 0em 10em 0em;
    display: flex;
    justify-content: center;
}

.cards img {
    margin: 0px 5em 0em 5em;
}



.leaves img {
    height: 25em;
    border-radius: 1%;
    box-shadow: 2px 15px 40px rgb(74, 74, 74);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.leaves img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 10px 20px 50px rgb(74, 74, 74);
}

.leaves p, h2 {
    text-align: center;
    font-family: var(--font);
    font-weight: 600;
}

.lips img {
    height: 25em;
    border-radius: 1%;
    box-shadow: 2px 15px 40px rgb(74, 74, 74);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.lips img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 10px 20px 50px rgb(74, 74, 74);
}

.lips p, h2 {
    text-align: center;
    font-family: var(--font);
    font-weight: 600;
}

.coffee img {
    border-radius: 1%;
    height: 25em;
    box-shadow: 2px 15px 40px rgb(74, 74, 74);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.coffee img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 10px 20px 50px rgb(74, 74, 74);
}

.coffee p, h2 {
    text-align: center;
    font-family: var(--font);
    font-weight: 600;
}


@media screen and (max-width: 1200px) {
    
    .top {
        display: flex;
        justify-content: flex-start;
    }

    .top a {
        font-size: 10px;
    }

    #pin {
        margin-left: 1em;
    }

    #logo {
        margin-left: 1em ;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    nav ul {
        margin-right: 1em;
        padding: 0;
    }

    nav li {
        display: inline-flex;
        margin: 0;
        border: 2px solid rgb(231, 226, 226);
    }

    nav a {
        font-size: 13px;
    }
    
   .content {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 5em;

   }

   #img_studio {
    margin-bottom: 0;
    width: 350px;
    height: 300px;
   }

   .text {
    font-size: 15px;
    margin-bottom: 2em;
    border: 2px solid rgb(231, 231, 231);
   }

   .doctor {
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
   }

   .doc_text {
    font-size: 15px;
   }

   .doc_text p {
    width: auto;
   }


   .cards {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    column-gap: 6.3em;
   }

   .cards img {
    margin: 0;
   }

   .lips, .leaves, .coffee {
    font-size: 14px;
   }

   .lips img {
    margin: 5em;
   }

   .leaves img, .coffee img {
    margin: 5em;
   }
}

@media screen and (max-width: 428px) {
    
    .top {
        display: flex;
        justify-content: flex-start;
    }

    .top a {
        font-size: 10px;
    }

    #pin {
        margin-left: 1em;
    }

    #logo {
        margin: 0em 0em 0em 0em;

    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav ul {
        padding: 0;
    }

    nav li {
        display: inline-flex;
        margin: 0;
        border: 2px solid rgb(231, 226, 226);
    }

    nav a {
        font-size: 13px;
    }
    
   .content {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 5em;

   }

   #img_studio {
    margin-bottom: 0;
    width: 350px;
    height: 300px;
   }

   .text {
    font-size: 15px;
    margin-bottom: 2em;
    border: 2px solid rgb(231, 231, 231);
   }

   .doctor {
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
   }

   .doc_text {
    font-size: 15px;
   }

   .doc_text p {
    width: auto;
   }


   .cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;

   }

   
   .cards img {
    margin: 0;
   }

   .lips, .leaves, .coffee {
    font-size: 14px;
   }

   .lips img {
    height: 290px;
    margin: 5em 0em 1em .3em;
   }

   .leaves img, .coffee img {
    margin: 5em 0em 1em 5em;
   }
}

